@media screen and (max-width: 1200px){
	.container{
		width: 95%;
	}

	.article #article-video{
		width: 480px;
		/*height: 360px;*/
	}

	#commentform input{
		margin: 10px 0;
		width: 60%;
	}

	#commentform textarea{
		margin: 10px 0;
		width: 60%;
	}

}

@media screen and (max-width: 992px){
	.container{
		width: 95%;
	}
	#commentform input{
	margin: 10px 0;
	width: 70%;
	}

	#commentform textarea{
		margin: 10px 0;
		width: 70%;
	}

	.article-left{
		border: none;
	}

	.article-right .share{
		/*border-bottom: 1px solid #d1d3d6;*/
		/*padding-bottom: 10px;*/
	}

	.archives{
		display: none;
	}
}

@media screen and (max-width: 770px){

	nav .container > .row > div:first-child{
		text-align: center;
	}

	nav #options{
		padding-top: 5px;
	}
	
	nav ul {
		text-align: center;
	}

	.article #article-video{
		width: 320px;
		/*height: 240px;*/
	}

	.archives ul{
		padding: 10px 0;
	}


	#commentform input{
	margin: 10px 0;
	width: 100%;
	}

	#commentform textarea{
		margin: 10px 0;
		width: 100%;
	}


	footer .left{
    	margin-bottom: 10px;
    }
    footer .right{
    	/*margin: 10px;*/
    	border-top: 1px dotted grey;
    }
    footer *{
    	text-align: center;
    	box-sizing: border-box;
    }
	footer .input-group{
	width: 300px;
	top:50%;
	left: 50%;
	margin-top: 10px;
	transform: translate(-50%,-50%);
	position: absolute;
	}


}